<% add_decidim_page_title(t("devise.sessions.new.log_in")) %>

<%= render layout: "layouts/decidim/shared/layout_center" do %>
  <div class="flash info">
    <div class="flash__message flex items-center">
      <%= t("decidim.smsauth.omniauth.soon") %>
    </div>
  </div>

  <div class="flex justify-center">
    <h1 class="title-decorator my-12"><%= t("devise.sessions.new.log_in") %></h1>
  </div>

  <div class="login__info">
    <% if current_organization.sign_up_enabled? %>
      <p class="font-semibold">
        <%= t("decidim.devise.sessions.new.are_you_new?") %>
        <%= link_to t("decidim.devise.sessions.new.register"), new_user_registration_path %>
      </p>
    <% elsif current_organization.sign_in_enabled? %>
      <p class="font-semibold">
        <%= t("decidim.devise.sessions.new.sign_up_disabled") %>
      </p>
    <% else %>
      <p class="font-semibold">
        <%= t("decidim.devise.sessions.new.sign_in_disabled") %>
      </p>
    <% end %>
  </div>

  <span class="login__info-separator"></span>

  <% if current_organization.sign_in_enabled? %>
    <%#
    <%= link_to t("decidim.smsauth.omniauth.new.title"), decidim_smsauth.users_auth_sms_path, class: "login__phone"
    <span class="login__omniauth-separator"><%= t("decidim.smsauth.or") %></span>
    %>
    <%= decidim_form_for(resource, namespace: "session", as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form__wrapper">
        <%= f.email_field :email, autocomplete: "email", placeholder: t("placeholder_email", scope: "decidim.devise.shared"), required: true %>

        <%= render partial: "decidim/account/password_fields", locals: { form: f } %>

        <% if devise_mapping.rememberable? %>
          <%= f.check_box :remember_me, label_options: { class: "form__wrapper-checkbox-label" } %>
        <% end %>
      </div>

      <button type="submit" class="button button__lg button__secondary">
        <%= t("devise.sessions.new.log_in") %>
        <%= icon "arrow-right-line", class: "fill-current" %>
      </button>

      <div class="form__wrapper">
        <% cache current_organization do %>
        <% end %>
      </div>

      <div class="form__wrapper">
          <%= render "decidim/devise/shared/omniauth_buttons" %>
          <%#
          <span class="login__omniauth-separator">Eller</span>
          <div style="margin-top: 0" class="login__omniauth">
            <a class="login__omniauth-button button--gbgip" title="Logga in med Göteborgs Stad-konto" rel="nofollow" data-method="post" href="/users/auth/gbgip">
              <span>
                Logga in med Göteborgs Stad-konto
              </span>
            </a>
          </div>
        %>
      </div>

      <div class="login__links">
        <%= render "decidim/devise/shared/links" %>
      </div>
    <% end %>
  <% end %>
<% end %>
